.section6 {

    min-height: 40vh;
    max-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    position: relative;

}

.section6 .part1 {
    flex: 0.6;
    height: 100%;
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    position: relative;

}

.section6 .part1 .division1 div:nth-child(1) {
    margin-left: 20px;

    font-size: 3rem;
    font-weight: 700;
    color: var(--bg);

}

.section6 .part1 .division1 div:nth-child(2) {
    margin-left: 25px;

    font-size: 1.1rem;
    font-weight: 200;
    color: var(--bg);

}

.section6 .part1 .division1 div:nth-child(3) {
    margin-left: 25px;

    font-size: 2rem;
    font-weight: 200;
    color: var(--bg);

}


.section6 .part2 {
    flex: 0.4;
    height: 100%;
    min-height: 25vh;
    width: 100%;

    position: relative;
    overflow: hidden;
    white-space: nowrap;
    color: var(--bg);

}

.section6 .part2 .division1 div:nth-child(1) {

    min-width: 100vw;
    min-height: 100px;
    font-size: 180px;
    font-weight: 700;
    white-space: nowrap;
    color: grey;
    opacity: 0.2;
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 0px;

}

.section6 .part2 .division2 p {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    color: var(--bg);

}

.section6 .part1 .division2 div {
    color: var(--bg);
}

@media screen and (max-width:1200px) {

    .section6 {
        height: auto;

    }

    .section6 .part1 {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .section6 .part1 .division1 div:nth-child(1) {
        font-size: 2.5rem;
        white-space: nowrap;
        margin-left: 0px;
    }

    .section6 .part1 .division1 div:nth-child(2) {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        margin-top: 20px
    }

    .section6 .part1 .division1 div:nth-child(3) {
        display: flex;
        justify-content: center;

        margin-top: 20px
    }

    .section6 .part2 .division1 div:nth-child(1) {
        font-size: 2.5rem;
        max-height: 0px;
        max-width: 0px;
    }

}